* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}
body::after {
  content: "";
  background: url('../img/Ro0t-96_v.3.png');
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  /*background-color: #fbfbfb;*/
  width: 100%;
  /*padding: 20px;*/
  /*height:200px;*/
}
.next{
	background: white;
    border: none;
    padding: 12px;
    font-size: 15px;
	border-left: 5px solid #ebff6c;
}
.no_more{
	background-color: white;
    padding: 25px;
    font-size: 25px;
}
.img{
	max-height: 100%;
	max-width: 100%;
}
.center{
	text-align: center;
}
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 60px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.pointer{
    cursor: pointer;
}
/* Links */
a:link { text-decoration: none; color: #335577; /*font-weight: bold;*/ padding: 0 5px;}
a:visited { text-decoration: none; color: #557799; /*font-weight: bold;*/ padding: 0 5px; }
a:hover, a:active { color: #990000; /*background-color: #eae5cf;*/ }



.content{
	display:none;
}
.loaderimg{
	width: 150px;
}

#loader{
	text-align: center;
}
.by_form{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.loaderimg{
	margin-top:5vw;
}
.version{
	text-align:end;
}

/*s*/
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f00;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/*e*/