.php{
    border-left: 5px solid #4F5D95;
}
.bath{
    border-left: 5px solid #afadad;
}
.html{
    border-left: 5px solid #e34c26;
}
.python{
    border-left: 5px solid #3572A5;
}
.bash{
    border-left: 5px solid #89e051;
}
.js{
    border-left: 5px solid #ebff6c;
}